### VisualStudioCode ###
.vscode/
.env

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Others
**/.DS_Store
out/
.git